.venv/
__pycache__/
*.pyc
*.pyo
*.db
*.db-shm
*.db-wal
data/*.db
logs/
.gitignore.swp
.pytest_cache/
*.egg-info/
data/isd_lite_raw.db
core/__pycache__/
data/isd_lite_raw.db
data/*.db-journal
data/tmp_cds_downloads/*.nc
